<div class="twofas-config-bar js-twofas-config-bar{{ 'totp_enabled' != twofas_light_totp_status and 'totp_disabled' != twofas_light_totp_status ? ' twofas-show' }}">
    <span class="twofas-config-bar-description">{{ esc_html__('Two-factor authentication is not configured.', '2fas-light') }}</span>
</div>
