<div class="twofas-modal-backdrop js-twofas-modal-how-to-add-a-new-device">
    <div class="twofas-modal-container">
        <div class="twofas-modal-cell">
            <div class="twofas-modal">
                <h5>
                    {{
                    sprintf(
                        esc_html__("To add a new trusted web browser/device, please check the 'Remember browser' %sbox during the second step of the login process.", '2fas-light'),
                        '<br />'
                    )|raw
                    }}
                </h5>

                <div class="twofas-buttons">
                    <a href="#" class="twofas-btn js-twofas-modal-cancel">{{ esc_html__('OK', '2fas-light') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
