<div class="twofas-modal-backdrop js-twofas-modal-remove-trusted-device">
    <div class="twofas-modal-container">
        <div class="twofas-modal-cell">
            <div class="twofas-modal">
                <h5>
                    {{
                    sprintf(
                        esc_html__('You are going to remove the trusted browser/device. %sPlease confirm to proceed.', '2fas-light'),
                        '<br />'
                    )|raw
                    }}
                </h5>

                <div class="twofas-buttons">
                    <a href="#" class="twofas-btn js-twofas-modal-cancel">{{ esc_html__( 'Cancel', '2fas-light' ) }}</a>
                    <a href="#" class="twofas-btn-empty js-twofas-remove-trusted-device-confirm">{{ esc_html__( 'Confirm', '2fas-light' ) }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
