<div class="notice notice-error twofas-light-error-message">
	<p><strong>{{ esc_html__( '2FAS Prime plugin security warning.', '2fas-light' ) }}</strong></p>
	<p>
		{{
		esc_html__( 'The plugin is not enabled network-wide on your multisite WordPress installation. This means that users might be
		able to circumvent the two-factor login process by logging in via sites on which the plugin is not active.
		Please activate the plugin network-wide to resolve this issue.', '2fas-light' )
		}}
	</p>
</div>
