<div class="twofas-light-login-footer {% if login_configuration == true %}twofas-login-configuration-footer{% endif %}">
    <img class="twofas-light-login-badge" src="{{twofas_light_plugin_path}}assets/img/logo.svg" alt="2FAS logo" />
    <span class="twofas-light-login-footer-tooltip">{{ esc_html__('This site is secured by 2FAS Prime', '2fas-light') }}</span>
</div>
